
    {{>header}}
    <h2> This is About Page of {{name}}  </h2>
    <img src="/images/profile_pic.jpeg" />


     {{>footer}}
    <script src="/js/app.js" async defer>
        js script

    </script>

      
