<header>
    <div>
        <ul>
    <a href="/">Profile </a>
    <a href="/about">About </a>
    <a href='/help'>Help</a>
    <a href='/weather?address=patna'>Weather</a>
        </ul>
    </div>
</header>